<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .row {
            background-color: green;
            padding: 20px;
            width: 500px;
            margin: 100px auto;
            border-radius: 20px;
        }

        form {
            margin: 30px auto;
            width: 250px;
            display: flex;
            flex-direction: column;
        }

        #password {
            margin-bottom: 10px;
            height: 35px;
            border-radius: 10px;
            border: none;
        }

        #btn {
            height: 35px;
            width: 100px;
            margin: auto;
            margin-bottom: 10px;
        }

        a {
            text-decoration: none;
            font-size: large;
            color: white;
            margin: auto;
        }

        h1,
        label {
            color: white;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>
                <center>Reset Password</center>
            </h1>

            <form action="/auth/reset-password" method="POST">
                <input type="hidden" name="token" value="<%= token %>">
                <label for="password">New Password:</label>
                <input type="password" id="password" name="password" required>
                <input type="submit" id="btn" value="submit" />
            </form>
        </div>
    </div>
</body>

</html>